header {
    background-color:white;
    border-bottom: 1px solid gray;
}
.border-bottom {
    border-width: 5px;
}  

.card {
    box-shadow: 3px 3px 3px 3px yellow;
}

#homeContainer {
    margin: auto;
    padding-top: 5%;    
}

#homeBio {
    margin: auto;
}

#pBox, #sBox {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* background image */
body {
    background-image: url("Spring-Nature-HD-Backgrounds.jpg");
}

/* pages images */
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
} 

.navbar-nav > li > a:hover {
    color: #4aaaa5;
}

/* portofolio pictures text */
.thumbnail {
    position: relative;
    left: 20px;
}
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.widget {
    margin-right: auto;
}

footer {
    border-top: 10px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    width: 100%;    
}

.Dbtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .Dbtn:hover {
    background-color: RoyalBlue;
  }

/* media query */

/*tablet size*/
@media only screen and (max-width: 1024px) {

    #name {
        box-sizing: border-box;
        flex-basis: 50%;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        text-size-adjust: 100%;
                
    }

    #col-sm-2 {
        width: 0px;
        visibility: hidden;
        display: none;
    }
    #bio {
        text-align: start;
        padding-bottom: 15px;
    }
    
}

@media only screen and (max-width: 812px) {

    footer {
        border-top: 10px solid #4aaaa5;
        bottom: 0;
    }
    #bio {
        text-align: start;
        padding-bottom: 15px;
    }

    #sBox {
        max-width: 45%;
    }

}


/* phone size*/
@media only screen and (max-width: 414px) {

    #name {
        box-sizing: border-box;
        flex-basis: 50%;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        text-size-adjust: 100%;
                
    }

    .widget {
        float: left;
        margin-right: auto;
    }

    #col-sm-2 {
        width: 0px;
        visibility: hidden;
        display: none;
    }
    #sBox {
        max-width: 90%;
    }

}







